@font-face {
	font-family: 'Press Start 2P';
	src: url(fonts/PressStart2P-Regular.ttf);
}

/* semantic color variables for this project */
:root {
	/* Colors */ /* Colors */ /* Colors */ /* Colors */ /* Colors */
	/* General Colors */
	--brandHue: 100;

	/* MenuButtons */
	--menuBtnBack: hsl(var(--brandHue), 50%, 50%);
	--menuBtnBackHover: hsl(var(--brandHue), 50%, 40%);
	--menuBtnBackActive: hsl(var(--brandHue), 50%, 20%);
	--menuSide: 100px;

	--modal-main-background: var(--menuBtnBack);
	--modal-header-background: var(--menuBtnBackHover);
	--modal-red: hsl(0, 50%, 50%);

	--borderColor: hsl(var(--brandHue), 20%, 20%);
	--borderSize: 5px;

	--modal-img0-main: hsl(24, 50%, 60%);
	--modal-img0-header: hsl(24, 50%, 50%);
	--modal-img1-main: hsl(64, 50%, 60%);
	--modal-img1-header: hsl(64, 50%, 50%);
	--modal-img2-main: hsl(167, 50%, 60%);
	--modal-img2-header: hsl(167, 50%, 50%);
	--modal-img3-main: hsl(273, 50%, 60%);
	--modal-img3-header: hsl(273, 50%, 50%);
	--modal-img4-main: hsl(325, 50%, 60%);
	--modal-img4-header: hsl(325, 50%, 50%);
	--modal-PC_F-main: hsl(325, 50%, 60%, 90%);
	--modal-PC_F-header: hsl(325, 50%, 50%, 90%);
	--modal-crystal-main: hsl(226, 50%, 60%);
	--modal-crystal-header: hsl(226, 50%, 50%);
}

@media (prefers-color-scheme: dark) {
	/* MenuButtons */
	:root {
		--menuBtnBack: hsl(var(var(--brandHue)), 50%, 20%);
		--menuBtnBackHover: hsl(var(--brandHue), 50%, 30%);
		--menuBtnBackActive: hsl(var(--brandHue), 50%, 50%);
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;

	padding: 0;
	user-select: none;
}

body {
	overflow: hidden;
	font-family: 'Press Start 2P', monospace;
	/* background-color: hsl(var(--brandHue), 80%, 80%); */
	background-image: url('src/assets/images/Back.png');
	background-size: 39rem;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	background-position: 20%;
}

button {
	font-family: 'Press Start 2P', monospace;
}

#app {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}
