/* semantic color variables for this project */
:root {
	/* Colors */ /* Colors */ /* Colors */ /* Colors */ /* Colors */
	/* General Colors */
	--brandHue: 200;

	/* MenuButtons */
	--menuBtnBack: hsl(var(--brandHue), 50%, 50%);
	--menuBtnBackHover: hsl(var(--brandHue), 50%, 40%);
	--menuBtnBackActive: hsl(var(--brandHue), 50%, 20%);
	--menuSide: 74px;
	--menuColumnNumber: 2;

	/* Card Size */
	--cardWidth: 7.5rem;
	--cardHeight: 10.5rem;
	--cardRadius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
	/* MenuButtons */
	:root {
		--menuBtnBack: hsl(var(var(--brandHue)), 50%, 20%);
		--menuBtnBackHover: hsl(var(--brandHue), 50%, 30%);
		--menuBtnBackActive: hsl(var(--brandHue), 50%, 50%);
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
}
